<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="user1.user2@gmail.com"/>
    <add key="Password" value="qwerty123"/>
    <add key="NotCorrectPassword" value="14tres2"/>
    <add key="Country" value="Indonesia"/>
    <add key="CountryBelarus" value="Minsk National Airport (BY)"/>
    <add key="UserName" value="DIMA SMIRNOV"/>
    <add key="NewEmail" value="dama.dima@gmail.com"/>
    <add key="ChosenCountry" value="RUSSIA"/>
    <add key="SelectCity" value="MOSCOW"/>
  </appSettings>
</configuration>