<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="pavel.varecz@gmail.com"/>
    <add key="Password" value="qwerty1234"/>
    <add key="NotCorrectPassword" value="112233ger4"/>
    <add key="Country" value="Indonesia"/>
    <add key="CountryBelarus" value="Minsk National Airport (BY)"/>
    <add key="UserName" value="PAVEL OSIPOV"/>
    <add key="NewEmail" value="repavel.men@gmail.com"/>
    <add key="ChosenCountry" value="BELARUS"/>
    <add key="SelectCity" value="MINSK"/>
  </appSettings>
</configuration>